.page {
  flex-grow: 1;
}

button {
  display: inline-block;

  width: 100%;
  max-width: 400px;

  padding: 1.5rem;
  font-size: 1.4rem;

  border: none;
  border-radius: 7px;

  color: #fff;
  background: #2f80ed;
  border: 1px solid #2f80ed;

  &:hover {
    background: #105bbc;
  }
}
